<div class="navhero">
  <nav>
    <img src="../../assets/Images/logo.png" class="logo">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <img src="../../assets/Images/user.png" class="user-pic" (click)="toggleMenu()">

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="../../assets/Images/user.png" class="user-pic">
          <h2>Allu Arjun</h2>
        </div>
        <hr>

        <a href="#" class="sub-menu-link">
          <img src="../../assets/Images/profile.png">
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="../../assets/Images/help.png">
          <p>Help and Support</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="../../assets/Images/setting.png">
          <p>Setting</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="../../assets/Images/logout.png">
          <p>Logout</p>
          <span>></span>
        </a>
      </div>

    </div>
  </nav>

</div>









